.product_img img{
    width: 100%;
    display: block;
}
i.fas.fa-star{
    color: orange;
}
.product_container{
    outline: solid black;
    width: 20%;
    margin-left: 20px
}
.product__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product__footer-right{
    display: flex;
    flex-direction: row;
}
.all_product{
    display: flex;
}